<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <title>The New Orleans Connection Order Form</title>
</head>

<body>
  <div>
    <table>
      <tr>
        <th>
          Question
        </th>
        <th>
          Response
        </th>
      </tr>
      {{ range . }}
      <tr>
        <td>
          {{ .Question.Title }}
        </td>
        <td>
          {{ .Answer }}
        </td>
      </tr>
      {{ end }}
    </table>
    <th>

    </th>

  </div>

</body>

</html>